{% load thumbnail %}

<div class="">
	{% if post.profile.picture %}
		{% thumbnail post.profile.picture "80x80" crop="center" as img %}
			<img src"{{ img.url }}" class="profile-img" alt="profile picture">
		{% endthumbnail %}
	{% else %}
		<img src="{{ post.profile.get_gravatar_img_path }}" width="80" height="80" class="profile-img" alt="empty profile picture">
	{% endif %}

	{% if post.profile.username %}
		<a href="{% url 'microblog:profiledetail' post.profile.user.id %}">{{ post.profile.username }}</a>
	{% else %}
		<a href="{% url 'microblog:profiledetail' post.profile.user.id %}">{{ post.profile.user }}</a>
	{% endif %}
	<p class="pubdate">Published {{ post.pub_date|date:"d M, Y" }} at {{ post.pub_date|date:"g:i a" }}</p>
	<p>{{ post.body }}</p>
</div>

