{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}{{ profile.user.username }}'s Profile{% endblock %}

{% block content %}

<div class="profile">
	{% if profile.picture %}
		{% thumbnail profile.picture "200x200" crop="center" as img %}
			<img src="{{ img.url }}" class="profile-img" alt="profile image">
		{% endthumbnail %}
	{% else %}
		<img src="{{ profile.get_gravatar_img_path }}?s=160" class="profile-img" alt="empty profile image">
	{% endif %}

	{% if request.user.is_authenticated %}
		{% ifequal request.user profile.user %}
			<a href="{% url 'microblog:updateprofile' profile.id %}">Edit Profile</a>
		{% else %}
			<form action="{% url 'microblog:follow' profile.id %}" method="post">
				{%csrf_token %}
				<button class="btn btn-primary">Follow {{ profile }}</button>
			</form>
		{% endifequal %}
	{% endif %}
	<p>{{ profile.bio }}</p>
</div>
{% for post in profile.post_set.all|slice:":10" %}
	{% include 'microblog/_post.html' %}
{% empty %}
		<p>There has been no posts made from {{ profile }}.</p>
{% endfor %}

{% endblock %}
